/*GLOBAL STYLES*/

/*
Primary:
Secondary:
Third Color:
*/

body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Handlee', cursive;
  background-color: #c6e6ed;
}

h1, h2, h3{
  margin: 0px;
}

a{
  text-decoration: none;
  color: #000000;
}

ul{
  list-style-type: none;
}

/*HEADER STYLES*/
header{
height: 120px;
background-color: #99d3df;
}

#logo h1:hover{
color: #e92132;
}

#logo{
width: 300px;
position: absolute;
top: 35px;
left: 100px;
}

#menu{
  position: absolute;
  top: 35px;
  right: 100px;
}

#menu ul{
  display: inline-block;
}

#menu li{
  display: block;
  float: left;
}

#menu li:after{
padding: 0 10px;
content: " | ";
}

#menu a:hover{
  color: #e92132;
}

#banner-home{
  height: 250px;
  background-color: #dddddd;
  background-size: cover; /*covers entire area of banner*/
  background: url(../img/map-banner.jpg) center;
  color:black;
}

#banner-home h1{
  text-align: center;
  padding: 90px 0px;
}

/*Blog Styles Begins*/
.container{
  width: 1200px;
  margin: 0px auto;
  overflow: hidden;
}

.blog-1, .blog-2{
width: 384px;
float: left;
margin-right: 24px;
}

.blog-3{
  width: 384px;
  float: left;
}

.blog-image{
  width: 300px;
  height: 200px;
  margin: 0px auto;
  padding: 0px 42px;
}

#blog h2{
  text-align: center;
  margin: 10px 0px;
}

#blog_p, #button_in_p{
  width: 300px;
  padding: 0px 42px;
  text-align: justify;
}

.button{
  padding: 15px 35px;
  background-color: #99d3df;
  border: 2px solid #e92132;
  border-radius: 15px;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  color: #e92132;
  margin: 10px 0px;
}

.button:hover{
  background-color: #e92132;
  color: #99d3df;
}

/*About Styles*/

#about{
  border-style: dotted;
  color: #000000;
  padding: 10px
}
.align-left{
  margin-right: 24px;
  margin-top: 10px;
  float: left;
  width: 384px;
}

.about_image{
  height: 300px;
  width: 400px;
}

figure{
  margin: 0px;
  padding: 0px;
}

#about h1{
text-align: center;
font-size: 3em;
}

/*Footer Styles*/
footer{
  margin-top: 20px;
  clear: both;
}

#copyright{
  padding: 30px 0px;
  background-color: #99D3DF;
  display: block;
  color: #e92132;
}

#copyright p{
  text-align: center;
  font-size: 1.25em;
}

#copyright a{
  color: #e92132;
}

.social{
  text-align: center;
  font-size: 2.5em;
}

/*--About Page Styles--*/
#video{
  width: 100%;
  position: relative;
  padding-bottom: 56%;
  padding-top: 30px;
  height: 0px;
  overflow: hidden;
}

.video-container{
  width: 98%;
  margin: 0px auto;
}

#video iframe{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#about-page{
  color: #000000;
  padding: 10px
}

#about-page article{
  width: 600px;
  float: left;
  padding: 10px;
}

#about-page h1{
  text-align: center;
  font-size: 3em;
}

#about-page p{
  line-height: 1.2em;
  text-align: justify;
}

#about-page li{
  padding: 2px;
}

.align-right{
  margin-left: 24px;
  margin-top: 85px;
  float: left;
  width: 384px;
}

/*--Contact Page Styles--*/
.map{
  float: left;
  margin: 20px;
}

.info{
  float: left;
  margin-left: 35px;
  margin-top: 10px;
}

#contact h3{
  font-size: 2em;
}

#contact ul{
  padding-left: 10px;
}

#contact li{
  padding: 2px 0px;
}
/*--Personal Page Styles--*/
#personal h1{
  text-align: center;
}

#personal_section h3{
  text-align: center;
}

.personal_container{
  width: 1200px;
  margin: 0px auto;
  overflow: hidden;
}

.image-1, .image-2, .image-3, .image-4, .image-5, .image-6{
width: 384px;
float: left;
margin-right: 12px;
margin-top: 10px;
}


.personal-image{
  width: 300px;
  height: 400px;
  margin: 0px auto;
  padding: 0px 42px;
}
